* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 40px 0;
}

.add_new_point {
    width: 100%;
}

.alert {
    display: none;
}
.alert.active {
    display: block;
}